

table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
.navbar {
  min-height: 38px;
  background-image: none !important;
}

navbar a.brand { font-size: 18px; }
.navbar a.brand:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

.dropdown-menu {
  padding: 10px; 
}
footer {
  margin-top: 100px;
  background-color: #ebebeb;
  padding: 20px 0;
  text-align: center;
}

